.App {
  background-color: #D5CFE1;
  color: #0D160B;
}

h1{
  font-size: 35px;
}
h2 { 
  font-size: 20px;
}
h3 { 
  font-size: 15px;
}
img{
  width: 50%;
  justify-content: center;
  border: 2.5px solid #0D160B;
  border-radius: 6px;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  gap: 0px 20px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: #D5CFE1;
}
.aCool{
  color: #0D160B;
  text-decoration: none;
  font-weight: bold;
}
.aCool:hover{
  color: #7785FF;
  font-size: 1.25em;
}

.link {
  color: #0D160B;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}
.link:hover {
  text-decoration: underline;
  color: #7785FF;
}
.link:active {
  color: #FB5012;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-left: 2.2vw;
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  padding-left: 10px;
}
img{
  width: 75%;
  border: 3px solid #0D160B;
}

iframe{
  width: 65vw;
  height: 40vw;
}

@media only screen and (max-width: 950px) {
  .App {
    justify-content: center;
  }
  .header {
    justify-content: center;
  }
  h1 { 
    text-align: center;
  }
  h2 { 
    font-size: 18px;
    text-align: center;
  }
  h3 { 
    font-size: 12px;
    text-align: center;
  }
  .link {
    text-align: center;
  }
  img{
    width: 75%;
    border: 3px solid #0D160B;
  }
  .bruh{
    display: flex;
    justify-content: center;
  }
  iframe{
    width: 93vw;
    height: 100vw;
  }
  
}
