.App {
  background-color: #D5CFE1;
  color: #0D160B;
}

h1{
  font-size: 35px;
}
h2 { 
  font-size: 20px;
}
h3 { 
  font-size: 15px;
}
img{
  width: 225px;
  border: 3.5px solid #0D160B;
  border-radius: 6px;
}
img:hover {
  border: 3.5px solid #7785FF;
}

.books{
  flex-direction: row-reverse;
}

.header {
  min-height: 10vh;
  display: flex;
  flex-direction: row-reverse;
  gap: 0px 20px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: #D5CFE1;
}

.link {
  color: #0D160B;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  
  
}
.link:hover {
  text-decoration: underline;
  color: #7785FF;
}
.link:active {
  color: #FB5012;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-left: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  padding-left: 10px;
}

@media only screen and (max-width: 650px) {
  .App {
    justify-content: center;
  }
  .header {
    justify-content: center;
  }
  h1 { 
    text-align: center;
  }
  h2 { 
    font-size: 18px;
    text-align: center;
  }
  h3 { 
    font-size: 12px;
    text-align: center;
  }
  img{
    width: 150px;
  }
  .link {
    text-align: center;
  }
  iframe{
    width: 92vw;
  }
  
}
